<!-- ---
layout: page
title: Buscar
description: Busca por palabra o tag.
---
<form action="get" id="site_search">
<center>
  <strong><a style="font-size:24px">Buscar:</a></strong>
  <input style="font-size:20px;" type="text" id="search_box">
  <input style="font-size:20px;font-weight: bold;" type="submit" value=">">
</center>
</form>
<br>
<ul id="search_results"></ul>
<hr style="background-color: #000; height: 5px;">
<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>

<ul class="tag-box inline"><div class="notepad-index-post-tags" style="">
{% assign tags_list = site.tags %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</div></ul>

{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} - <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %} -->